<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/resources/css/adminHome.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@12.1.0/dist/handsontable.full.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script> 
</head>
<body>
	<div class="dashboard">
		<div th:replace="fragments/adminSidebar"></div>

		<div id="main-content" class="main-content">
			<main>
				<div id="dynamic-content"></div>
				<th:block th:include="fragments/javascript.html"></th:block>
			</main>
		</div>
	</div>
	
	
</body>
</html>