<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/adminHome.css}">
</head>
<body>
    <div class="dashboard">

        <div th:replace="fragments/adminSidebar"></div>

        <div id="main-content" class="main-content">
            <div th:replace="fragments/adminHeader"></div>

            <main>
                <div id="dynamic-content"></div>
            </main>
        </div>
    </div>

    <script th:src="@{/resources/js/adminHome.js}"></script>
    <th:block th:include="fragments/javascript.html"></th:block>
</body>
</html>