<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết khóa học</title>
    <th:block th:include="fragments/head"></th:block>
    <link rel="stylesheet" th:href="@{/resources/css/courseDetail.css}">
    <link rel="stylesheet" th:href="@{/resources/css/fragments/review.css}">
</head>

<body>
	<th:block th:include="fragments/nav"></th:block>

	<div class="container mt-5">
		<div id="toastContainer"></div>
		<!-- Course Header -->
		<div class="course-header">
			<h2 th:text="${course.name}">Tên khóa học</h2>
		</div>

		<!-- Course Body -->
		<div class="course-body row mt-4">
			<div class="col-md-8">
				<!-- Course Image -->
				<div class="course-image mb-4">
					<img th:src="@{${course.imageUrl}}" alt="Course Image">
				</div>
			</div>

			<div class="col-md-4">
				<!-- Course Description -->
				<div class="course-description">
					<h4>About this course</h4>
					<p th:text="${course.description}">Đây là mô tả khóa học.</p>
				</div>

				<!-- Course Details -->
				<div class="course-details mt-4">
					<h4>Overview</h4>
					<p>
						Level Requirement: <span th:text="${course.difficultyLevel.paramValue}">BEGINNER</span>
					</p>
					<p>
						Lesson type: <span th:text="${course.lessonType.paramValue}">Video</span>
					</p>
					<div th:if="${!hasPurchased}">
						<p th:text="'₫ ' + ${#numbers.formatDecimal(course.originalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}" style="text-decoration: line-through;"></p>
						<h5 class="text-danger" th:text="'₫ ' + ${#numbers.formatDecimal(course.discountedPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></h5>
					</div>
					<div th:if="${hasPurchased}">
						<!-- Nếu đã mua khóa học, hiện nút "Learn Now" -->
						<button class="btn btn-success mt-3 learn-now-btn"
							th:attr="data-course-id=${course.id}">Learn Now</button>
					</div>
					<div th:if="${!hasPurchased}">
						<!-- Nếu chưa mua, hiện nút "Buy Now" -->
						<form th:action="@{/payment/pay}" method="post" id="paymentForm">
							<input type="hidden" name="courseId" th:value="${course.id}" />
							<button type="button" class="btn btn-primary mt-3"
								data-bs-toggle="modal" data-bs-target="#paymentModal">Buy
								now</button>
						</form>
                        <th:block th:include="fragments/courseDetail/payment.html"></th:block>						

						
						<!-- Nút "Apply voucher" -->
<!--                         <th:block th:include="fragments/courseDetail/voucher.html"></th:block>						 -->
							
					</div>
				</div>
			</div>
		</div>
		<div th:include="fragments/reviews :: reviews"></div>
	</div>
	<th:block th:include="fragments/javascript"></th:block>

</body>
</html>