<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="resources/css/home.css?v=1.1"> <!-- Cập nhật query string -->
</head>
<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <div class="row mt-4 mb-4"> <!-- Thêm khoảng cách trên và dưới -->
            <div class="col-md-8">
                <div th:replace="~{fragments/featuredCoursesCarousel :: featuredCoursesCarousel}"></div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Chương trình khuyến mãi đang diễn ra</h5>
                    </div>
                    <div class="card-body">
                        <div th:replace="~{fragments/promotionCarousel :: promotionCarousel}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4"> <!-- Thêm khoảng cách trên và dưới -->
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-default">Đang miễn phí</button>
                    <button class="btn btn-default">Java</button>
                    <button class="btn btn-default">Python</button>
                </div>
                <div class="col-md-4 position-relative">
                    <input type="text" class="form-control" id="searchInput" placeholder="Bạn đang tìm kiếm điều gì">
                    <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-2"></i>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/coursesContainer :: coursesContainer}"></div>
        <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The MKS Group</div>
    </div>
    <script src="/library/webjars/jquery/3.7.0/dist/jquery.min.js"></script>
    <script src="/library/webjars/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="/library/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <script src="resources/js/home.js"></script> <!-- Tách JavaScript ra file riêng -->
</body>
</html>