<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/home.css?v=1.1"> <!-- Cập nhật query string -->
    <link rel="stylesheet" href="resources/css/fragments/courseItem.css?v=1.1"> <!-- Cập nhật query string   -->
    <link rel="stylesheet" href="resources/css/fragments/courseDetailPopup.css?v=1.1"> <!-- Cập nhật query string   -->
</head>
<body>
   <!--  add header fragment -->
    <div th:replace="fragments/nav :: header"></div>
    
    
    <div class="container">
        <div class="row mt-4 mb-4"> <!-- Thêm khoảng cách trên và dưới -->
            <div class="col-md-8">
                <div id="featuredCoursesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#featuredCoursesCarousel" th:each="featuredCourse, iterStat : ${featuredCourses}" th:data-bs-slide-to="${iterStat.index}" th:classappend="${iterStat.index == 0} ? 'active'" th:aria-current="${iterStat.index == 0} ? 'true' : 'false'" th:aria-label="'Slide ' + ${iterStat.index + 1}"></button>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div th:each="featuredCourse, iterStat : ${featuredCourses}" th:classappend="${iterStat.index == 0} ? 'active'" class="carousel-item" 
                             th:data-name="${featuredCourse.name}"
                             th:data-image-url="${featuredCourse.imageUrl}"
                             th:data-description="${featuredCourse.description}"
                             th:data-difficulty-level="${featuredCourse.difficultyLevel}"
                             th:data-lesson-type="${featuredCourse.lessonType}"
                             th:data-original-price="${featuredCourse.originalPrice}"
                             th:data-discounted-price="${featuredCourse.discountedPrice}">
                            <img th:src="${featuredCourse.imageUrl}" class="d-block w-100" alt="Course Image" style="height: 400px; object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 th:text="${featuredCourse.name}"></h3>
                                <p th:text="${featuredCourse.description}"></p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#featuredCoursesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#featuredCoursesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Chương trình khuyến mãi đang diễn ra</h5>
                    </div>
                    <!-- <div class="card-body" > Chiều cao cố định cho card-body
                        <div id="campaignCarousel" class="carousel slide" data-bs-ride="carousel" >
                            <div class="carousel-inner" >
                                <div th:each="campaignData, iterStat : ${campaigns}" th:classappend="${iterStat.index == 0} ? 'active'" class="carousel-item" 
                                    th:data-name="${campaignData.campaign.name}"
                                    th:data-start-time="${campaignData.campaign.startTime}"
                                    th:data-end-time="${campaignData.campaign.endTime}"
                                    th:data-description="${campaignData.campaign.description}"
                                    style="height: 200px;">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div class="campaign-item">
                                                <p th:text="${campaignData.campaign.name}"></p>
                                                <p th:text="${#dates.format(campaignData.campaign.startTime, 'dd/MM/yyyy')} + ' - ' + ${#dates.format(campaignData.campaign.endTime, 'dd/MM/yyyy')}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" 
                                        	 role="progressbar"
                                        	 aria-valuenow="${campaignData.progress}"
                                             aria-valuemin="0" 
                                             aria-valuemax="100" 
                                             th:style="'width: ' + ${campaignData.progress} + '%'"> Sử dụng giá trị progress từ campaignDTO
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-indicators" style="bottom: 0px;"> Điều chỉnh vị trí
                                <button type="button" data-bs-target="#campaignCarousel" th:each="campaignData, iterStat : ${campaigns}" th:data-bs-slide-to="${iterStat.index}" th:classappend="${iterStat.index == 0} ? 'active'" th:aria-current="${iterStat.index == 0} ? 'true' : 'false'" th:aria-label="'Slide ' + ${iterStat.index + 1}"></button>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#campaignCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#campaignCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4"> <!-- Thêm khoảng cách trên và dưới -->
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-default">Đang miễn phí</button>
                    <button class="btn btn-default">Java</button>
                    <button class="btn btn-default">Python</button>
                </div>
                <div class="col-md-4 position-relative">
                    <input type="text" class="form-control" id="searchInput" placeholder="Bạn đang tìm kiếm điều gì">
                    <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-2"></i>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4" id="coursesContainer"> <!-- Thêm khoảng cách trên và dưới -->
            <div th:each="course, iterStat : ${courses}" th:id="'course-' + ${iterStat.index}" class="col-md-3 mb-4"
                 th:data-name="${course.name}"
                 th:data-image-url="${course.imageUrl}"
                 th:data-description="${course.description}"
                 th:data-difficulty-level="${course.difficultyLevel}"
                 th:data-lesson-type="${course.lessonType}"
                 th:data-original-price="${course.originalPrice}"
                 th:data-discounted-price="${course.discountedPrice}">
                <div th:replace="fragments/courseItem :: courseItem(${course})"></div>
            </div>
        </div>

        <!-- Lớp phủ để làm mờ nền -->
        <div id="blurOverlay" class="blur-overlay" style="display: none;"></div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" id="pagination">
                <!-- Các nút phân trang sẽ được thêm vào đây bằng JavaScript -->
            </ul>
        </nav>
        <div>&copy; 2017 The MKS Group</div>
    </div>
    <!-- Popup chi tiết khóa học -->
    <th:block th:include="fragments/popupDetailCourse"></th:block>
    <th:block th:include="fragments/javascript"></th:block>
</body>
</html>