<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAdmin</title>
	<link rel="stylesheet" th:href="@{/resources/css/adminHome.css}">
	<link rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
	<link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
    <th:block th:include="fragments/hnav"></th:block>
    
    <div th:switch="${session.currentMenu}">

        <div th:case="'Settings'">
            <div th:replace="~{fragments/myadmin/settings :: settings_form}"></div>
        </div>
        <div th:case="'CurrentUsers'">
            <div th:replace="~{fragments/myadmin/current_users :: current_user_form}"></div>
        </div>
        <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer"></div>
        <div id="main-content" class="main-content">
            <main>
                <div id="dynamic-content" th:case="'Parameters'">
                    <div th:replace="~{fragments/adminListParameters :: parametersContent}"></div>
                </div>                
                <th:block th:include="fragments/javascript.html"></th:block>
            </main>
        </div>
        <div class="dashboard">
		
			<div th:replace="fragments/adminSidebar"></div>
	
			<div id="main-content" class="main-content">
			
				<main>
					<div id="dynamic-content" th:case="'Course'">
                        <div th:replace="~{fragments/adminListCourse :: coursesContent}"></div>
                    </div>
					<th:block th:include="fragments/javascript.html"></th:block>
				</main>
			</div>
		</div>
        <p th:case="*">Please contact Administrator to check session attribute "currentMenu"</p>
    </div>
    <!-- Pagination -->
	<nav>
		<ul class="pagination justify-content-center"
			id="parametersPagination">
        </ul>
	</nav>
    <th:block th:include="fragments/about_dialog"></th:block>
    <script type="module" th:src="@{/resources/js/adminHome.js}"></script>
    <script th:src="@{/resources/js/adminCourse.js}"></script>
    <script th:src="@{/resources/js/adminLesson.js}"></script>
    <script th:src="@{/resources/js/adminParameters.js}"></script>
</body>
</html>