<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Courses</title>
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/home.css?v=1.1">
</head>
<body>

    <!-- Include Header Fragment -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Main Container with Filters and Courses -->
    <div class="container mt-4">
        <div class="row">
            <!-- Filter Section -->
            <div class="col-md-3 filter-section">
                <h4>Filter by</h4>

                <!-- Filter by Ratings -->
                <h5>Ratings</h5>
                <ul class="filters">
                    <li><input type="radio" name="rating" /> 5 stars</li>
                    <li><input type="radio" name="rating" /> 4 stars</li>
                    <li><input type="radio" name="rating" /> 3 stars</li>
                </ul>

                <!-- Filter by Price -->
                <h5>Price</h5>
                <ul class="filters">
                    <li><input type="radio" name="price" /> Under 50$</li>
                    <li><input type="radio" name="price" /> Between 50-100$</li>
                    <li><input type="radio" name="price" /> Over 100$</li>
                </ul>

                <!-- Filter by Duration -->
                <h5>Duration</h5>
                <ul class="filters">
                    <li><input type="radio" name="duration" /> Under 1 month</li>
                    <li><input type="radio" name="duration" /> 1-3 months</li>
                    <li><input type="radio" name="duration" /> Over 3 months</li>
                </ul>
            </div>

            <!-- Courses Section -->
            <div class="col-md-9">
                <h4>Results for ...</h4>
                <div class="row mt-4 mb-4" id="coursesContainer">
                    <div th:each="course, iterStat : ${courses}"
                         th:id="'course-' + ${iterStat.index}" class="col-md-3 mb-4">
                        <div th:replace="fragments/courseItem :: courseItem(${course})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center">&copy; 2024 The MKS Group</div>
    </div>

</body>
</html>
