<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="sidebar">
		<div id="sidebar" class="sidebar">
			<a class="sidebar-header" th:href="@{/admin}"> <img th:src="${logoUrl}" alt="Site Logo">
			</a>
			<nav>
				<a href="#" data-section="dashboard" onclick="loadDashboard(event)"> <span class="text">Admin Dashboard</span>
				</a> </a> <a href="#" data-section="users" onclick="loadParametersManagePage(event)"> <span class="text">Parameters Management</span>
				</a> <a href="#" data-section="courses" onclick="loadCoursesSection(event)"> <span class="text">Courses Management</span>
				</a> <a href="#" data-section="learning" onclick="loadManageLearningProgress(event)"> <span class="text">Manage learning progress</span>
				</a> <a href="#" data-section="revenue" onclick="loadRevenueSection(event)"> <span class="text">Revenue Statistics</span>
				</a> <a href="#" data-section="courses" onclick="loadCertificateSection(event)"> <span class="text">Create Certificate</span>
				</a>
			</nav>
		</div>
	</div>
</body>

</html>
