<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="addCourse" class="modal fade" id="addCourseModal"
		tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true"
		data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addCourseModalLabel">Add New
						Course</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" enctype="multipart/form-data"
						class="needs-validation" novalidate>
						<div class="mb-3">
							<label for="name" class="form-label">Course Name</label> <input
								type="text" class="form-control" id="name" required>
							<div class="invalid-feedback">Please provide a course name.
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="originalPrice" class="form-label">Original
									Price</label> <input type="number" class="form-control"
									id="originalPrice" required step="0.01">
							</div>
							<div class="col-md-6 mb-3">
								<label for="discountedPrice" class="form-label">Discounted
									Price</label> <input type="number" class="form-control"
									id="discountedPrice" required step="0.01">
							</div>
						</div>

						<!-- Upload Image -->
						<div class="mb-3">
							<label for="image" class="form-label">Image</label> <input
								type="file" class="form-control" id="image" name="image"
								accept="image/*" required>
							<div class="invalid-feedback">Please upload an image.</div>
						</div>

						<div class="mb-3">
							<label for="description" class="form-label">Description</label>
							<textarea class="form-control" id="description" rows="3" required></textarea>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="difficultyLevel" class="form-label">Difficulty
									Level</label> <select class="form-select" id="difficultyLevel" required>
									<option>Choose...</option>
									<option>BEGINNER</option>
									<option>INTERMEDIATE</option>
									<option>ADVANCED</option>
								</select>
							</div>
							<div class="col-md-6 mb-3">
								<label for="lessonType" class="form-label">Lesson Type</label> <select
									class="form-select" id="lessonType" required>
									<option>Choose...</option>
									<option>VIDEO</option>
									<option>DOCUMENT</option>
								</select>
							</div>
						</div>

						<!-- Dropdown Category -->
						<div class="mb-3">
							<label for="category" class="form-label">Category</label> <select
								class="form-select" id="category" name="category"
								onchange="filterSubcategories(this.value)" required>
								<option value="">Choose a category...</option>
								<option th:each="category : ${categories}"
									th:value="${category.id}" th:text="${category.name}"></option>
							</select>
						</div>
						<!-- Dropdown Subcategory -->
						<div class="mb-3">
							<label for="subcategory" class="form-label">Subcategory</label> <select
								class="form-select" id="subcategory" name="subcategory" disabled
								required>
								<option value="">Choose a subcategory...</option>
								<option th:each="subcategory : ${subcategories}"
									th:value="${subcategory.id}"
									th:data-category-id="${subcategory.category.id}"
									th:text="${subcategory.name}"></option>
							</select>
						</div>


						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="isFree">
							<label class="form-check-label" for="isFree">Is Free
								Course</label>
						</div>
						<button type="submit" class="btn btn-primary">Add Course</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
