<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Lessons with Handsontable</title>
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@12.1.0/dist/handsontable.full.min.css">
<script src="https://cdn.jsdelivr.net/npm/handsontable@12.1.0/dist/handsontable.full.min.js"></script>

</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Add Lessons with Handsontable for Course <span th:text="${course.name}"></span></h1>

        <div id="error-message" class="alert alert-danger" style="display: none;">
            <strong>Error!</strong> <span id="error-text"></span>
        </div>

        <div id="handsontable-container-lessons" class="mb-3"></div>

        <button type="button" class="btn btn-primary" th:attr="onclick='submitLessonData(event, ' + ${course.id} + '); return false;'">
            Submit Lessons
        </button>
        <button type="button" class="btn btn-secondary" th:onclick="'loadCourseLessons(' + ${course.id} + ')'" >Cancel</button>

    </div>
</body>
</html>
