<div th:fragment="coursesContent">
	<div class="container mt-5">
		<h1 class="mb-4">Course Management</h1>

		<!-- Add Course Button -->
		<div class="d-flex justify-content-end mb-3">
			<button type="button" class="btn btn-success mx-3"
				onclick="fetchAddCoursePage(event)">Add Course</button>
			<a class="btn btn-success" href="#"
				th:onclick="'fetchAddCourseHandsontablePage(event)'"> Add
				Courses with Handsontable </a>
		</div>

		<div id="coursesContainer">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Image</th>
							<th>Course Name</th>
							<th>Description</th>
							<th>Original Price</th>
							<th>Discounted Price</th>
							<th>Level</th>
							<th>Free</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="course, iterStat : ${courses}">
							<th th:text="${iterStat.count}"></th>
							<td><img th:src="${course.imageUrl}" alt="course image"
								style="max-width: 100px;" /></td>
							<td th:text="${course.name}"></td>
							<td th:text="${course.description}"></td>
							<td th:text="${course.originalPrice}"></td>
							<td th:text="${course.discountedPrice}"></td>
							<td th:text="${course.difficultyLevel}"></td>
							<td th:text="${course.isFree == null || course.isFree == false ? 'No' : 'Yes'}"></td>
							<td>
								<div class="btn-group" role="group">
									<a href="#" class="btn btn-primary btn-sm"
										th:attr="onclick='loadCourseLessons(' + ${course.id} + '); return false;'">View</a>
									<a href="#" class="btn btn-warning btn-sm"
										th:attr="onclick='loadEditCourseForm(' + ${course.id} + '); return false;'">Edit</a>
									<a href="#" class="btn btn-danger btn-sm"
										th:onclick="|deleteCourse(${course.id})|">Delete</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Pagination -->
		<nav>
			<ul class="pagination justify-content-center" id="pagination"></ul>
		</nav>
	</div>
</div>