<div th:fragment="analysis">
    <div class="col-md-5" style = "height: 470px;">
         <div class="card mb-4 h-100">
             <div class="card-body">
                 <h1 class="chart-title">Thống kê đơn hàng</h1>
				<h1 id="daGiao" style="display: none;">${DaGiao}</h1>
				<h1 id="dangGiao" style="display: none;">${DangGiao}</h1>
				<div style="max-width: 100%; height: 400px; overflow: hidden; position: relative;">
				    <canvas id="visitorChart"></canvas>
				</div>
             </div>
         </div>
     </div>
     <div class="col-md-5" style = "height: 470px;">
         <div class="card mb-4 h-100">
             <div class="card-body">
                 <h1 class="chart-title">Thống kê đơn hàng</h1>
				<h1 id="daGiao" style="display: none;">${DaGiao}</h1>
				<h1 id="dangGiao" style="display: none;">${DangGiao}</h1>
				<div style="max-width: 100%; height: 400px; overflow: hidden; position: relative;">
				    <canvas id="revenueChart" width="400" height="400"></canvas>
				</div>
             </div>
         </div>
     </div>
</div>