<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div th:fragment="coursesContainer">
	    <div class="row mt-4 mb-4" id="coursesContainer"> <!-- Thêm khoảng cách trên và dưới -->
	        <!-- Các khóa học sẽ được thêm vào đây bằng JavaScript -->
	    </div>
	    <nav aria-label="Page navigation">
	        <ul class="pagination justify-content-center" id="pagination">
	            <!-- Các nút phân trang sẽ được thêm vào đây bằng JavaScript -->
	        </ul>
	    </nav>
	</div>
</body>
</html>
