<div id="campaignDetailPopup" class="popup-overlay"
	style="display: none;">
	<div class="popup-content">
		<div class="course-header">
			<h2 id="campaignName"></h2>
			<span class="close-btn" onclick="closeCampaignPopup()">&times;</span>
		</div>
		<div class="course-body">
			<div class="course-image">
				<img id="campaignImage" src="" alt="Campaign Image" />
			</div>
			<div class="course-details-container">
				<div class="course-description">
					<h3>Mô tả</h3>
					<p id="campaignDescription">Đây là mô tả</p>
				</div>
				<div class="course-details">
					<h3>Chi tiết</h3>
					<p id="campaignTime">
						Thời gian chương trình: <br> <span id="campaignTimeRange"></span> (<span
							id="campaignDaysLeft"></span>)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
