<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragment: Horizontal menu -->
<ul class="navIntraTool actionToolbar">
    <li>
        <span title="System configuration" th:class="${session.currentMenu == 'Settings' ? 'current' : ''}">
            <a th:href="@{/myadmin}">Settings</a>
        </span>
    </li>
    <li>
        <span title="Current online users" th:class="${session.currentMenu == 'CurrentUsers' ? 'current' : ''}">
            <a th:href="@{/myadmin/current-users}">Current users</a>
        </span>
    </li>
    <li>
        <span title="About"> <a id="about" href="#">About</a>
        </span>
    </li>
    <li>
        <span title="Parameters" th:class="${session.currentMenu == 'Parameters' ? 'current' : ''}">
            <a th:href="@{/myadmin/list-parameters}">Parameters</a>
        </span>
    </li>
    <li>
    	<span title="Course Management" th:class="${session.currentMenu == 'Courses' ? 'current' : ''}">
            <a th:href="@{/myadmin/list-courses}">Course Management</a>
        </span>
    </li>
</ul>